.grid-header {
    grid-area: header;
}

.grid-menu-left {
    grid-area: menu;
}

.grid-main-area {
    grid-area: main;
}

.grid-main-right {
    grid-area: right;
}

.grid-footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header' 'menu main main main right right' 'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: rgb(229, 236, 241);
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}